<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="signingConfig" type="XadesDemo.Configurations.Sections.SigningConfiguration, xades-demo"/>
    <section name="GisServicesConfig" type="XadesDemo.Configurations.Sections.GisServiceConfiguration, xades-demo"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <signingConfig CertificateThumbprint="B34D5A65B277EE6249F8BF57EE65B7841533157D" CertificatePassword="1"/>
    <GisServicesConfig OrgPpaGuid="7a37c792-d609-4508-b311-73e1f8482767" BaseUrl="http://192.168.0.20:8080/">
    <SoapConfiguration
      SoapTemplate="./Templates/soap-template.xml"
      ISRequestHeaderTemplate="./Templates/is-request-header-template.xml"
      RequestHeaderTemplate="./Templates/request-header-template.xml"/>
    <Services>
      <Service ServiceName="NsiCommonAsync" Path="ext-bus-nsi-common-service/services/NsiCommonAsync" AddOrgPpaGuid="false" AddSignature="true">
        <Methods>
          <Method MethodName="exportNsiList" Action="urn:exportNsiList" RequiredBody="false" Template="./Templates/NsiCommonAsync/export-nsi-list-template.xml"/>
          <Method MethodName="exportNsiItem" Action="urn:exportNsiItem" Template="./Templates/NsiCommonAsync/export-nsi-item-template.xml"/>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/NsiCommonAsync/get-state-template.xml"/>
        </Methods>
      </Service>
      <Service ServiceName="NsiAsync" Path="ext-bus-nsi-service/services/NsiAsync" AddOrgPpaGuid="true" AddSignature="true">
        <Methods>
          <Method MethodName="importMunicipalServices" Action="urn:importMunicipalServices" Template="./Templates/NsiAsync/import-municipal-services-template.xml"></Method>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/NsiAsync/get-state-template.xml"></Method>
        </Methods>
      </Service>
      <Service ServiceName="Inspection" Path="ext-bus-inspection-service/services/InspectionAsync" AddOrgPpaGuid="true" AddSignature="true">
        <Methods>
          <Method MethodName="importInspectionPlan" Action="urn:importInspectionPlan" Template="./Templates/Inspection/import-inspection-plan-template.xml"></Method>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/Inspection/get-state-template.xml"></Method>
        </Methods>
      </Service>
    </Services>
  </GisServicesConfig>
</configuration>
