<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="signingConfig" type="XadesDemo.Configurations.Sections.SigningConfiguration, xades-demo"/>
    <section name="GisServicesConfig" type="XadesDemo.Configurations.Sections.GisServiceConfiguration, xades-demo"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <signingConfig CertificateThumbprint="‎‎97A2D1F91EDC5B4EC0DEF40A4F4F4AB8BF51AED5" CertificatePassword="1"/>
    <GisServicesConfig SenderId="212923e3-5a56-44ac-a0b2-43c24f5814ac" BaseUrl="http://192.168.0.154:8088/" SchemaVersion="8.7.0.4">
    <SoapConfiguration
      SoapTemplate="./Templates/soap-template.xml"
      ISRequestHeaderTemplate="./Templates/is-request-header-template.xml"
      RequestHeaderTemplate="./Templates/request-header-template.xml"/>
    <Services>
      <Service ServiceName="NsiCommonAsync" Path="ext-bus-nsi-common-service/services/NsiCommonAsync" AddSenderId="false" AddSignature="true">
        <Methods>
          <Method MethodName="exportNsiList" Action="urn:exportNsiList" RequiredBody="false" Template="./Templates/NsiCommonAsync/export-nsi-list-template.xml"/>
          <Method MethodName="exportNsiItem" Action="urn:exportNsiItem" Template="./Templates/NsiCommonAsync/export-nsi-item-template.xml"/>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/NsiCommonAsync/get-state-template.xml"/>
        </Methods>
      </Service>
      <Service ServiceName="NsiAsync" Path="ext-bus-nsi-service/services/NsiAsync" AddSenderId="true" AddSignature="true">
        <Methods>
          <Method MethodName="importMunicipalServices" Action="urn:importMunicipalServices" Template="./Templates/NsiAsync/import-municipal-services-template.xml"></Method>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/NsiAsync/get-state-template.xml"></Method>
        </Methods>
      </Service>
      <Service ServiceName="Inspection" Path="ext-bus-inspection-service/services/InspectionAsync" AddSenderId="true" AddSignature="true">
        <Methods>
          <Method MethodName="importInspectionPlan" Action="urn:importInspectionPlan" Template="./Templates/Inspection/import-inspection-plan-template.xml"></Method>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/Inspection/get-state-template.xml"></Method>
        </Methods>
      </Service>
    </Services>
  </GisServicesConfig>
</configuration>
